@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.logo {
	width: 280px;
    height: auto;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

.logo img {
	display: block;
	width: 100%;
	height: auto;
}

h2 {
	text-align: center;
	margin: 0 0 10px;
}
